<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>

<div class="container">
    <section id="content">

        <div id="favorita" *ngIf="favorita">
            <h2 class="sub">
                Pelicula favorita
            </h2>
            <h5>
                {{favorita.title}}
            </h5>
            <h6>
                {{favorita.year}}
            </h6>
        </div>
        <!-- <h1>{{ title }}</h1>
        <h3 class="subheader">Peliculas</h3>
        <button class="btn btn-success btn-sm" (click)="ChangeTitle()"> Pulsame </button>
        <hr>
        <ul class="list-group">
            <h2>Mostrar primera pelicula</h2>
            <h6 class="card-title">{{peliculas[0].title}}</h6>
        </ul>

        <hr>
        <ul class="list-group">
            <h2>Numero de peliculas</h2>
            <h3 *ngIf="peliculas.length <= 3">
                hay pocas peliculas:
            </h3>
        </ul> -->

        <ul class="list-group">
            <h5 *ngIf="peliculas.length > 3"> hay muchas peliculas: <span></span> </h5>
            <p class="text-muted">
                {{peliculas.length}}
            </p>
        </ul>
        <div class="row">
            <div class="col-12">
                <h2 class="text-muted">Listado de peliculas</h2>
            </div>
        </div>


        
            <div id="article" *ngIf="peliculas">
                <div  *ngFor="let pelicula of peliculas; let i = index;">
                    <app-pelicula
                    [pelicula]="pelicula"
                    (MarcarFavorito)="mostrarFavorita($event)"
                    >
                    </app-pelicula>
                </div>
             
            </div>
        

        <!-- <div class="text-left mt-2 mb-5" *ngIf="peliculas">
                <div *ngFor="let pelicula of peliculas; let i = index;">
                    <img class="" width="500px" src="{{pelicula.image}}" alt="{{pelicula.title}}">
                    <div class="card-body">
                        <h2>
                            {{i}}
                            {{pelicula.title}}</h2>
                        <h4 class="card-title">{{peliculas[0].title}}</h4>
                        <p class="year" [class.year-green]="pelicula.year > 2019"
                            [class.year-red]="pelicula.year < 2021" [ngClass]="{
                                    'year-green': pelicula.year > 2019,
                                    'year-red': pelicula.year < 2021
                                }">
                            {{pelicula.year}}
                        </p>
                        <hr>
                    </div>
                </div>
            </div> -->

    </section>
</div>