<div class="card text-left">
  <div class="card-body">
    <h5>Puedes hacer esto</h5>  
    <hr>
    <h4 class="card-title">Búsqueda</h4>
    <p class="card-text">Encuentra el articulo que buscas</p>
    <hr>
    <form #searchForm="ngForm" (ngSubmit)="goSearch()">
        <input class="form-control" type="text" name="seacrh" placeholder="Buscar Peliculas" [(ngModel)]="searchString">
        <input type="submit" name="submit" value="Buscar" class="btn btn-primary mt-1 btn-block">
    </form>
  </div>
</div>
