<div class="card text-left">
  <div class="card-body">
    <h5>Lorem, ipsum.</h5>  
    <button class="btn btn-success btn-block pb-2">Crear artículo</button>
    <hr>
    <h4 class="card-title">Búsqueda</h4>
    <p class="card-text">Encuentra el articulo que buscas</p>
    <hr>
    <form>
        <input class="form-control" type="text" name="seacrh" placeholder="Buscar Peliculas">
        <input type="submit" name="submit" value="Buscar" class="btn btn-primary mt-1 btn-block">
    </form>
  </div>
</div>
